{
    "amazon_url": "amazon.de",
    "alexa_list_name": "shop",
    "alexa_cookie_file": "alexa_cookie.json",

    "ms_client_id": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "ms_tenant_id": "consumers",
    "ms_list_name": "Einkaufsliste",

    "sync_direction": "both",
    "delete_origin": false,
    "sync_interval": 30
}
